version: 2.1

orbs:
  node: circleci/node@7.1.0

parameters:
  node_version:
    type: string
    default: '22.13.0'

commands:
  install_deps:
    steps:
      - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> .npmrc
      - node/install-pnpm:
          version: 9.15.4
      - node/install-packages:
          pkg-manager: pnpm
          cache-only-lockfile: true
          # Default command is 'pnpm install --frozen-lockfile'.
          # 'pnpm install' fails with --frozen-lockfile option because it can't find the lockfile
          override-ci-command: pnpm install

jobs:
  build:
    executor:
      name: node/default
      tag: << pipeline.parameters.node_version >>
    working_directory: ~/repo
    steps:
      - checkout
      - install_deps
      - run: pnpm run build
      - run: pnpm run test
      - run: pnpm run test:repl
      - run: pnpm run lint:ci
      - run: pnpm run type-check

workflows:
  build_test:
    jobs:
      - build
