version: 2.1

orbs:
  node: circleci/node@5.1.0

parameters:
  node_version:
    type: string
    default: 'lts'

commands:
  install_deps:
    steps:
      - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> .npmrc
      - node/install-packages:
          pkg-manager: yarn
          cache-version: v1-all
          cache-only-lockfile: true
          app-dir: ~/repo
          override-ci-command: yarn install --pure-lockfile --no-progress

jobs:
  build:
    executor:
      name: cimg/node
      tag: << pipeline.parameters.node_version >>
    working_directory: ~/repo
    steps:
      - checkout
      - install_deps
      - run: yarn build
      - run: yarn test
      - run: yarn test:repl
      - run: yarn lint:ci
      - run: yarn type-check

